<div class="container-fluid">
  <h3 class="video_header">Forgot your password?</h3>
  <div class="container-fluid">
    <div class="row-fluid">
        <div class="span8">
          <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div><%= f.label :email %><br />
		  <%= f.email_field :email, :autofocus => true %></div>

		  <div><%= f.submit "Send me reset password instructions", class: "btn btn-large btn-primary" %></div>
		<% end %>
        </div>

        <div class="span4">
        </div>
  </div>
  </div>
</div>
