<h1>Edit video</h1>
<div class="row span6 offset3">
  <%= form_for(@video) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= f.label(:youtube_url, 'Youtube Url') %>
      <%= f.text_field :youtube_url %>
      <%= f.label :length %>
      <%= f.number_field :length %>
      <%= f.submit "Update", class: "btn btn-large btn-primary" %>
  <% end %>
</div>