<div class="span8">
  <% if @videos.any? %>
      <h3>My videos (<%= @videos.count %>)</h3>
          <% @videos.each do |video| %>
          <ol class="microposts">
            <li id="<%= video.id %>">
              <%= link_to(video.title, video, :class => "user") %>
            </li>
          </ol>
          <section class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img src="<%= video.get_thump_url(video.youtube_id) %>" alt="...">
            </div>
          </section>
          <span class="timestamp">
                Posted <%= time_ago_in_words(video.created_at) %> ago.
          </span>
          <br>
            <%= link_to("Edit", edit_video_path(video)) %>
            |
            <%= link_to "Delete", video, method: :delete, data: { confirm: "Are you sure?" } %>
          </br>

          <% end %>
      <%= will_paginate @videos %>
  <% end %>
</div>