<div class="container">
  <div class="row">
    <div class="span7">
     <div id="ytplayer">
     </div>
    </div>
    <div class="span5">
      <div id="metadata">
          <span class="video_big_title"><%= @video.title %> </span>
          <p class="video_description"><%= @video.description %></p>
          <span class="video_time">
            Posted by <%= @video.user.name %> <%=  time_ago_in_words(@video.created_at) %> ago.
          </span>
          <span class="video_count" id="video_count">
            Total views: <%= @video.view_count %>
          </span>
      </div>
      <div class="fb-like" data-href="<%= request.original_url %>" data-width="400" data-height="10" data-colorscheme="light" data-layout="standard" data-action="like" data-show-faces="true" data-send="false"></div>
      <div class="fb-comments" data-href="<%= request.original_url %>" data-colorscheme="light" data-numposts="10" data-width="400"></div>
    </div>
  </div>
</div>
<script type="text/javascript">
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('ytplayer', {
            height: '390',
            width: '640',
            videoId: '<%= @video.youtube_id %>',
            events: {
                'onStateChange': onPlayerStateChange
            }
        });
    }
    function onPlayerStateChange(event) {
        console.log('hihi');
        $.ajax('', {
            url: "<%= increase_count_path %>",
            data: { id: "<%= @video.id %>"},
            type: 'PUT',
        });
    }
</script>