<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Videos Sharing", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home", root_path %></li>
          <% if !user_signed_in? %>
              <li><%= link_to "Sign in", new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
              <li><%= link_to "Forget password?", new_user_password_path %></li>
          <% else %>
              <li><%= link_to "Post video", "#" %></li>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                 aaas <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Edit profile", "#" %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                  </li>
                </ul>
              </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>