<header id="header_overall">
  <div id="logo_and_login">
    <div id="logo">
      <%= link_to "Videos Sharing", root_path%>
    </div>
    <div id="loginbtn">
      <div id="login_normal">
        <%= link_to(image_tag('login_btn.jpg'), new_user_session_path) %>
      </div>
      <div id="login_with_facebook">
        <%= link_to(image_tag('login_with_facebook.jpg'), user_omniauth_authorize_path(:facebook)) %>
      </div>
    </div>
  </div>
  <div id="nav_bar_and_search">
    <div id="nav_home" class="nav_item">
      <%= link_to("Home", root_path, class: "nav_title") %>
    </div>
    <div id="nav_features" class="nav_item">
      <%= link_to("Features", root_path, class: "nav_title") %>
    </div>
    <div id="nav_blog" class="nav_item">
      <%= link_to("Blog", root_path, class: "nav_title") %>
    </div>
    <div id="nav_contact" class="nav_item">
      <%= link_to("Contact", root_path, class: "nav_title") %>
    </div>
    <div id="nav_search" class="nav_item">
      <input type="text" name="search" value="" class="search_txt" placeholder="Search">
    </div>
  </div>
</header>
